@use "reset.scss" as reset;

:root {
  --dark-primary-color: #616161;
  --light-primary-color: #F5F5F5;
  --primary-color: #9E9E9E;
  --text: #212121;
  --accent: #607D8B;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #757575;
}
